/* header */
#header{
    background-image: url("images/header-img.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* navber parent */
#nav-parent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    font-weight: 900;
}

/* navber child-2 */
.nav-child-2{
    display: flex;
    gap: 20px;
}

/* header-data */
#header-data{
    text-align: center;
    margin-top: 200px;
    padding: 100px;
}

